.search{
    margin-top: 20px;
}

h1{
    font-family: Roboto;
    font-style: italic;
    color: white;

}
body{
    background-image: url(/static/images/back.jpg);
    background-repeat: repeat-y;
}
/*img {
    background-color: whitesmoke;
}*/