{% extends "base.html" %}

    {% block searchField %}

        <div class="container search">
            <div class="row">
                <div class="col-xs-offset-1  col-xs-10 col-xs-offset-1 rowSearch">
                    <form class="form-horizontal" action="" method="post">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input  id="search" class="form-control" placeholder="Автор, Назва документу..." name="name" value="{{ form.name }}" type="text">

                            <span class="input-group-btn">
                               <button type="submit" class="btn btn-default">Пошук</button>
                            </span>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
      </div>
    {% endblock %}

  {% block searchResults %}
    {% if docs  %}
    <div class="container content">
      <div class="row">
      <div class="">
        <div class="well">
          <div class="">
              <p class="text-left"> Загальне число результатів: <span class="badge">{{ paginator.count }}</span></p>
                <!--<p class="text-left">  Пошук: {{ search_word }}</p>-->
             <!--<ol class="list-group">-->
              {% for doc in docs %}
                <!--<li class="list-group-item"> <i class="fa fa-book fa-lg">  </i>-->
                 {% if doc.author == None %}
                     <!--<a  class="list-group-item" href="/document/{{doc.doc_id}}"> <i class="fa fa-book fa-lg"></i> {{ doc.name }}</a>-->
                     <a  class="list-group-item" href="{% url "document" id_doc=doc.doc_id %}"> <i class="fa fa-book fa-lg"></i> {{ doc.name }}</a>
                {% else %}
                     <a class="list-group-item" href="{% url "document" id_doc=doc.doc_id %}"><i class="fa fa-book fa-lg">  </i> {{ doc.author }} - {{ doc.name }} </a>
                {% endif %}
                 <!--</li>-->
              {% endfor %}
              <!--</ol>-->


              <!--<nav aria-label="Page navigation">
                  <ul class="pager">
                    {% if docs.has_previous %}
                     <li class="previous">
                         <a href="?page={{ docs.previous_page_number }}&q={{ search_word }}"><span aria-hidden="true">&larr;</span> Попередня</a>
                     </li>
                    {% else %}
                     <li class="disabled previous">
                         <a href="#"><span aria-hidden="true">&larr;</span> Попередня</a>
                     </li>
                    {% endif %}
                    <span class="current">
                    сторінка {{ docs.number }} з {{ docs.paginator.num_pages }}
                    </span>
                     {% if docs.has_next %}
                      <li class="next">
                         <a href="?page={{ docs.next_page_number }}&q={{ search_word }}">Наступна <span aria-hidden="true">&rarr;</span></a>
                      </li>
                     {% else %}
                      <li class="disabled next">
                         <a href="#" aria-label="Next">Наступна <span aria-hidden="true">&rarr;</span></a>
                      </li>
                     {% endif %}
                  </ul>
              </nav>-->


            <nav aria-label="Page navigation"  class="text-center">
              <ul class="pagination">
                {% if docs.has_previous %}
                <li>
                  <a href="?page={{ docs.previous_page_number }}&q={{ search_word }}" aria-label="Previous">
                      <span aria-hidden="true"><i class="fa fa-chevron-left fa-lg">  </i> </span>
                  </a>
                </li>
                {% else %}
                    <li class="disabled">
                      <span aria-hidden="true"><i class="fa fa-chevron-left fa-lg">  </i> </span>
                    </li>
                {% endif %}

                {% for pageNumber in docs.paginator.page_range %}

                {% if pageNumber == docs.number %}

                <li class="active">
                    <span>{{ pageNumber }}</span>
                </li>
                {% else %}
                <li>
                    <a href="?page={{ pageNumber }}&q={{ search_word }}">{{ pageNumber }}</a>
                </li>
                {% endif %}
                {% endfor %}
               {% if docs.has_next %}
                <li>
                  <a href="?page={{ docs.next_page_number }}&q={{ search_word }}" aria-label="Previous">
                      <span aria-hidden="true"><i class="fa fa-chevron-right fa-lg">  </i> </span>
                  </a>
                </li>
                {% else %}
                    <li class="disabled">
                      <span aria-hidden="true"><i class="fa fa-chevron-right fa-lg">  </i> </span>
                    </li>
                {% endif %}
              </ul>
            </nav>



          </div>
        </div>
      </div>
      </div>
    </div>
     <!--<div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                 <div class="row">
                    <div class="col-xs-12 footer">
                         <p class="text-muted"></p>
                    </div>
                  </div>
            </div>
         </div>
    </div>-->
    {% endif %}
  {% endblock %}
